.content_container{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.content_1{
    width: 100%;
    height: 812px;
    background-color: bisque;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.img_1, .img_2, .img_3, .img_4, .img_5{
    background-color: lightslategray;
    height: 527px;
}
.point_box{
    height: 100px;
    background-color: aliceblue;
}
.container2{
    margin: 0 auto;
    background-color: azure;
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p_div{
    background-color: azure;
    position: relative;
    padding: 0;
    margin: 60px 50px;
    font-size: 38px;
    font-weight: bold;
    color: black;
    line-height: 1.5rem;
    justify-content: center;
    text-align: center;
}
.img_container{
    height: 180px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.img_link{
    display: flex;
    width: 100%;
}
.link_div{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
}
.link_div img{
    display: block;
    width: 130px;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 50%;
    background-color: black;
}
.link_div img:hover{
    background-color: blue;
    border-radius: 50%;
}
.link_div a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.point_box2, .point_box3, .point_box4, .point_box5{
    height: 140px;
    /*background-color: aliceblue;*/
    margin-top: 1px;
}
.point_box6{
    height: 60px;
    /*background-color: aliceblue;*/
    margin-top: 1px;
}
.container3 {
    margin: 0 auto;
    height: auto;
    width: 1200px;
    /*background-color: azure;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.p_div2{
    /*background-color: azure;*/
    height: auto;
    padding: 0;
    margin: 60px 50px;
    font-size: 38px;
    font-weight: bold;
    color: black;
    line-height: 1.5rem;
    justify-content: center;
    text-align: center;
}
.img_container2{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img_box{
    display: flex;
    width: 100%;
    height: 393px;
    justify-content: center;
    align-items: center;
    /*justify-content: space-around;*/

}
.s_img_{
    display: flex;
    width: 393px;
    height: 393px;
    justify-content: center;
    border: 1px solid darkgray;
    border-radius: 5%;
    /*margin: 0 10px;*/
}
.slide_nav{
    position: absolute;
    top: 38%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
.btn_1, .btn_2{
    width: 50px;
    height: 50px;
    background-color: lemonchiffon;
    outline: none;
    cursor: pointer;
    border: none;
}

.slide_dots{
    display: flex;
    height: 30px;
    /*background-color: cornflowerblue;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }
.dots_btn{
    width: 18px;
    height: 10px;
    display: flex;
    flex-direction: row;
    border: none;
    padding: 1px;
    justify-content: center;
    background-color: transparent;
}
.dots_btn span{
    width: 10px;
    height: 10px;
    background-color: lightgray;
    border-radius: 50%;
}
.plus_btn{
    margin: 10px 0 40px 0;
    height: 46px;
    background-color: black;
    text-align: center;
    align-content: center;
}
.plus_btn a{
    color: white;
    font-size: 16px;
}
.container6{
    width: 100%;
    height: 464px;
}
.empty_line{
    width: 100%;
    height: 30px;
    background-color: white;
}
.empty_line2{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
}
.btm_box{
    width: 100%;
    height: 134px;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
/*.div_con{*/
/*}*/
.div_1{
    width: 400px;
    height: 116px;
    background-color: white;
}
.div_2, .div_3{
    width: 400px;
    height: 116px;
    background-color: white;
    border-left: 1px solid darkgray;
}
.title_{
    height: 20px;
    border-left: 4px solid #444;
    font-size: 20px;
    justify-content: center;
    margin-left: 18px;
}
.title_ p{
    margin: 0 30px 0 10px;
}
.text_1{
    width: 339px;
    height: 21px;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.text_2{
    width: 339px;
    align-content: center;
    text-align: center;
    font-size: 35px;
    margin: 0 auto;
}
.last_container {
    width: 100%;
    height: 66px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last_link{
    width: 180px;
    height: 46px;
    background-color: white;
    border: 1px solid lightgrey;
}
.map_{
    width: 100%;
    height: 500px;
    /*background-color: pink;*/
}